/* PC breakpoint */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
    .toggle-menu svg {
        display: none;
    }
}

/* Tablet and Mobile */
@media screen and (max-width: 991px) {
    ::-webkit-scrollbar {
        display: none;
    }
    .mobile-header {
        display: block;
    }
    .header .header__logo {
        flex-direction: row-reverse;
        width: 100%;
    }
    .header .header__logo--left__email {
        display: none;
    }
    .header__logo--right__img {
        transform: translateX(-50%);
    }
    .header__nav ul {
        display: none;
    }
    .toggle-menu {
        padding: 5px;
    }
    .toggle-menu svg {
        display: block;
        width: 25px;
        margin-left: 10px;
        color: gray;
    }

    .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transition: all ease 0.5s;
    }
    .menu-drawer {
        position: fixed;
        inset: 0 45% 0 0;
        background-color: #fff;
        z-index: 102;
        transform: translateX(-100%);
        transition: all ease 0.7s;
        padding: 50px;
    }
    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }
    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }
    .menu-drawer .nav__list {
        flex-direction: column;
        row-gap: 30px;
        padding: 20px;
        align-items: flex-start;
    }
    .menu-drawer .header__logo--right__img {
        transform: translateX(0);
    }
    .feedback-item--2 {
        display: none;
    }
    .contact {
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }
    .contact-background__img--center {
        display: none;
    }
    /* Journey */
    .journey {
        margin-top: 40px;
    }
}

/* Tablet breakpoint */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    /* Hero */
    .hero .hero-img {
        order: 2;
    }
    .hero .main-title {
        text-align: center;
        width: 100%;
    }
    .hero__desc {
        font-size: 2.8rem;
    }
    .hero-cta {
        justify-content: center;
    }
    .hero-icon {
        margin-top: 45px;
        margin-bottom: 90px;
    }
    .hero__image {
        transform: translateX(10%);
    }
    .hero__background {
        display: none;
    }

    .hero__image__background {
        width: 100%;
        top: -13%;
        left: -27%;
    }

    /* Cilent */
    .cilent {
        margin-top: 60px;
    }
    .cilent-title {
        width: 93%;
        text-align: center;
    }
    .cilent-list {
        scale: 1.1;
        margin-top: 25px;
        transform: translateX(5%);
    }

    /* Special */
    .special {
        margin-top: 90px;
    }

    .special .title__desc {
        margin-bottom: 25px;
        transform: translateX(-8%);
        font-size: 2.1rem;
    }
    .special-item {
        margin-bottom: 20px;
    }

    .special__title {
        width: 90%;
    }
    .special-list__sub-title {
        font-size: 4rem;
    }
    .special-list__desc {
        font-size: 2.3rem;
    }
    /* Project */
    .project {
        margin-top: 30px;
    }
    .project-title .title {
        width: 100%;
        text-align: center;
    }
    .project-desc .desc {
        margin-top: 20px;
    }
    .project-item__image__img {
        width: 100%;
    }
    .project-item__content__title {
        font-size: 2.2rem;
    }
    .project.btn {
        transform: translateX(-25%);
    }

    /* Jouney */
    .journey-item__desc {
        font-size: 2rem;
    }

    /* Atmosphere */
    .atmosphere-image {
        margin-bottom: 25px;
    }
    .atmosphere-image__img {
        width: 100%;
    }

    /* Contact */
    .contact__btn {
        transform: translateX(-25%);
    }

    /* Footer */
    .footer__logo--left__email {
        display: none;
    }
    .footer__logo--right {
        display: none;
    }
    .copyright__desc a {
        width: 100%;
    }
}

/* Mobile breakpoint */

@media screen and (max-width: 767.98px) {
    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 20px;
    }
    .toggle-menu {
        margin-right: -20px;
    }
}
